// Place all the styles related to the simpsons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	color:black;
}


body {
	background-image: url("http://vignette4.wikia.nocookie.net/simpsons/images/a/a2/Wiki-background_update_2.jpg/revision/latest/scale-to-width/1024?cb=20111014041518");
	background-size: 100%;	
	font-family: "arial";
}
.container {
	padding:100px;
}
td{
	width: 300px;
}

img {
	height:15%;
	width: 15%;

}

.list{
border-top: 5px solid #FFD500;
border-bottom: 5px solid #FFD500;
}

.header {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	background-color: yellow;
	border-bottom:5px solid white;
}

footer {
	bottom: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	background-color: yellow;
	border-top:5px solid white;
}

p.footer {
	text-align: center;
	padding: 20px;
}

 
li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 10px;
}

ul {
	padding: 0px 40px;
}

.nav {
	float:right;
}

#add {
	text-align: right;
}
.button {
	background-color: #ffff00;
}
.edit {
	text-align: right;
}

a {
	text-decoration: none;
	color:black;

}
