<h1>About</h1>

<p>This is an experiment page to practice my Ruby on Rails skills. I want the page to be able to perform some basic functions such as adding, editing, deleting characters from a database.</p>